button {
    height: 3rem;
    width: 12rem;
    background-color: blue;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

